<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Parte 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .title{
            color: #009ee3;
            font-weight: bold;
            font-size: larger;
        }
    </style>
</head>
<body>

<div class="row row-3">
    <p class="title">Exercise Induction - Parte 1</p>
    <!-- mp-mode redirect-->
    <!-- <a href=${initPoint} name="MP-Checkout" className="green-L-Rn" mp-mode="modal">Pagar</a> -->
</div>
<!-- mp-mode -->
<script

        src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
        data-preference-id="${id}">
</script>

<!--
<h4>Id: ${id}</h4>
<h4>Init point: ${initPoint}</h4> -->
</body>
</html>
